/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-color-hover: #555;
}

html, body, #root, .app, .content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: fixed;
}
.content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hover); 
}

.dark {
  color: #1b2537;

  color100: #d0d1d5;
  color200: #a1a4ab;
  color300: #727681;
  color400: #434957;
  color500: #141b2d;
  color600: #101624;
  color700: #0c101b;
  color800: #080b12;
  color900: #040509;
}

.light{
  color: #040509;
  color: #080b12;
  color: #0c101b;
  color: #f2f0f0;
  color: #141b2d;
  color: #434957;
  color: #727681;
  color: #a1a4ab;
  color: #d0d1d5;
}

.indigo {
    color: #f2f0f0;
    color: #d9dbdd;
    color: #b4b6bc;
    color: #8e929a;
    color: #696d79;
    color: #434957;
    color: #363a46;
    color: #282c34;
    color: #1b1d23;
}